.foo-container {
  .foo-item {
  }
  .foo-image {
  }
}

@keyframes FooKeyframes {
  0% {






    transform: rotateX(60deg) rotateZ(-45deg) scale(1);
    filter: blur(5px);
  }

  50% {







    transform: rotateX(60deg) rotateZ(-225deg) scale(1.1);
    filter: blur(15px);
  }

  100% {
    transform: rotateX(60deg) rotateZ(-405deg) scale(1);
    filter: blur(5px);







  }
}

@media (prefers-reduced-motion: reduce) {



  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }













}
