name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  commit_lint:
    runs-on: ubuntu-latest
    steps:
      # Check commit messages
      - uses: webiny/action-conventional-commits@v1.1.0

  stylua:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download stylua
        run: make stylua

      - name: Lint
        run: make stylua-check

  luals:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: lewis6991/gh-actions-lua@master
        with:
          luaVersion: "5.1.5"

      - uses: leafo/gh-actions-luarocks@v4

      - name: Download nvim-test
        run: make nvim-test

      - name: LuaLS
        run: make luals-check

  tsqueryls:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Download tsqueryls
        run: make tsqueryls

      - name: Lint
        run: make tsqueryls-lint

      - name: Format
        if: always()
        run: |
          make tsqueryls-format
          git diff --exit-code

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        neovim_version:
          - 'v0.11.5'

    env:
      NVIM_TEST_VERSION: ${{ matrix.neovim_version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: lewis6991/gh-actions-lua@master
        with:
          luaVersion: "5.1.5"

      - uses: leafo/gh-actions-luarocks@v4

      - uses: tree-sitter/setup-action/cli@v1

      - name: Download nvim-test
        run: make nvim-test

      - name: Download nvim-treesitter
        run: make nvim-treesitter

      - name: Parsers Cache
        uses: actions/cache@v4
        with:
          path: ./nvim-treesitter/parser/
          key: parsers-${{ join(matrix.*, '-') }}-${{ hashFiles(
            './nvim-treesitter/lockfile.json',
            './nvim-treesitter/lua/nvim-treesitter/install.lua',
            './nvim-treesitter/lua/nvim-treesitter/parsers.lua') }}

      - name: Install parsers
        run: make parsers

      - name: Run Test
        run: make test

      - name: Download tsqueryls
        run: make tsqueryls

      - name: Validate queries
        run: make tsqueryls-check

