// {{TEST}}

foo { // {{CONTEXT}}
    bar { // {{CONTEXT}}
        baz { // {{CONTEXT}}




































            // {{CURSOR}}
        }
    }
}

// {{TEST}}

bar { // {{CONTEXT}}















































// {{CURSOR}}
}
